<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Fuel-Up
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{{#link-to 'home' tagName="li"}}
				<a href="/home">Home</a>
			{{/link-to}}
			{{#link-to 'add-fill-up' tagName="li"}}
				<a href="/add-fill-up">Add Fill-Up</a>
			{{/link-to}}
			{{#link-to 'about' tagName="li"}}
				<a href="/about">About</a>
			{{/link-to}}
		</ul>
		{{#if authControllerChild.loggedIn}}
			<p class="navbar-text navbar-right">Signed in as:		{{authControllerChild.username}}
			</p>
			<button {{action 'foo'}}>alert foo</button>
		{{/if}}

    </div><!-- /.navbar-collapse -->
  </div>
</nav>