a:link, a:visited {
    text-decoration: none;
    color: #9C9C7F;
}

a:hover {
    color: #70705C;
}

.active {
	font-weight: bold;
}

body {
	padding-top: 10px;
}

html, body {
    margin: 20px;
    font-family: "sans-serif";
}

li {
    display: inline;
    padding-right: 20px;
    font-family: "sans-serif";
    border-bottom: 3px solid #DCDCDC;
}

h4{
	padding-left:1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #70705C;
}

@media (max-width: 1125px) {
    .nav-bar-header {
        float: none;
    }
    .nav-bar-toggle {
        display: block;
    }
    .nav-bar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .nav-bar-collapse.collapse {
        display: none!important;
    }
    .nav-bar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .nav-bar-nav>li {
        float: none;
    }
    .nav-bar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-bar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .nav-bar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

}