a:link, a:visited {
    text-decoration: none;
    color: #9C9C7F;
}

a:hover {
    color: #70705C;
}

.active {
	font-weight: bold;
}

body {
	padding-top: 10px;
}

html, body {
    margin: 20px;
    font-family: "sans-serif";
}

li {
    display: inline;
    padding-right: 20px;
    font-family: "sans-serif";
    border-bottom: 3px solid #DCDCDC;
}

h4{
	padding-left:1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #70705C;
}