<p>Fuel-Up is a free, privacy centric fuel economy tracking and comparison tool compatible with modern browsers on desktop and mobile devices. Fuel-Up allows registered users to add their vehicle, track fuel economy over time, and compare results against owners of similar vehicles.</p>

<p>This application is a work in progress. Absoutely no warranty, experessed or implied.</p>
{{outlet}}
