<p>
Fuel-Up is a free, privacy centric fuel economy tracking and comparison tool compatible with modern browsers on desktop and mobile devices. It is a work in progress.
</p>
<p>
Absoutely no warranty, experessed or implied.
</p>
{{outlet}}
