{{nav-bar authControllerChild=authController}}
<link rel="icon" href="/go/?url=/assets/favicon.ico">
<div class="container-fluid">
	{{!-- <h2 id="title">Welcome to Fuel-Up</h2> --}}
	{{outlet}}
</div>