<h2>Let's see how you're doing...</h2>
<table id="t01">
  <tr>
    <th>Your Average MPG</th>
    <th>Community Average MPG</th>
    <th>Your Last MPG</th>
    <th>Community Last MPG</th>
    <th>Your Best MPG</th>
    <th>Community Best MPG</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
{{outlet}}
