<h2>Let's see how you're doing...</h2>
<table class="table table-striped">
    <thead>
      <tr>
      <th>Your Last Price per Gallon</th>
      <th>Your Last Miles on Tank</th>
      <th>Your last MPG</th>
      <th>Your Average MPG</th>
      <th>Community Average MPG</th>
      <th>Your Best MPG</th>
      <th>Community Best MPG</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td${{allFillups.pricePerGallon}}</td>
          <td>{{allFillups.miles}}mi</td>
          <td>last MPG here</td>
          <td>average MPG here</td>
          <td>community average mpg here</td>
          <td>best mpg</td>
          <td>community best mpg here</td>
        </tr>
    </tbody>
    </table>
{{outlet}}
